@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
    --custom-primary: #120032;
    --custom-secondary: #FFF8F3;
  }
  
  body {
    background-color: var(--custom-primary);
    color: var(--custom-secondary);
  }
  
 tr {
    color:black
 }

 p {
  color:#ffffff
 }

 h2 {
  color:#f0eef3
 }
 
 h3 {
  color:#ffffff
 }

 